<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shaungallagher.timerforkids" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Timer for Kids</name>
    <description>
        A simple countdown timer for kids with minutes and seconds.  For kids who understand time, it shows the minutes and seconds counting down.  For kids who don't yet understand time, it shows a circular "clock" that fills up in proportion to the time left on the counter.  Users can adjust the time, the clock color, and turn the ticking sound on or off.
    </description>
    <author email="shaun@experimentingwithbabies.com" href="http://www.experimentingwithbabies.com">
        Shaun Gallagher
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <!-- iOS: Auto hides the splash on iOS -->
    <preference name="AutoHideSplashScreen" value="true" />
    <!-- android: Timeout for the Splash on Android in milliseconds -->
    <preference name="SplashScreenDelay" value="0" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:platform name="android" />
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:plugin name="org.apache.cordova.media" />
    <access origin="http://127.0.0.1*" />
</widget>
